<h1>登録済み施設一覧</h1>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金（/日）</th>
      <th>作成日</th>
      <th>編集/削除</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><% if room.image.attached? %>
          <%= image_tag room.image %>
        <% else %>
          <%= image_tag 'hotel.png' %>
        <% end %></td>
        <td><%= link_to room.name, room %></td>
        <td><%= room.detail %></td>
        <td><%= number_to_currency(room.price, unit: '円', format: '%n%u/日') %></td>
        <td><%= room.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          <%= link_to '編集', edit_room_path(room), class: 'btn btn-primary' %>
          <%= link_to '削除', room, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
